.message {
  color: green;
  background-color: rgb(140, 235, 164);
  font-size: 20px;
  border-style: solid;
  padding: 5px;
  margin-bottom: 10px;
  width: fit-content;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  background-color: rgb(235, 140, 140);
  font-size: 20px;
  border-style: solid;
  padding: 5px;
  margin-bottom: 10px;
  width: fit-content;
  border-radius: 5px;
}

.text {
  margin: 5px;
}

.details {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  width: fit-content;
}

.details > p {
  margin: 0 0;
}
